
body {
    background: linear-gradient(to right, rgb(0, 140, 255, 30%) , rgb(1, 102, 1, 80%) 50%, rgb(0, 140, 255, 70%));    
}

.container {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
h2 {
    text-align: center;
    width: 560px;
    font-size: 50px;
    background: -webkit-linear-gradient(#eee, rgb(63, 61, 61));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     margin-top: 30px;
     margin-bottom: 10px;
     margin-left: 25%;
     margin-right: 25%;
}
img {
    height: 350px;
    border: dotted 10px white;
    padding: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

.svg-bike {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    box-sizing: border-box;
}

#front-wheel, 
#back-wheel {
    animation: wheel 1.5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#person-bike {
    animation: bike .5s linear infinite alternate-reverse;
    transform-origin: bottom;
}

#right-flower,
#left-flower {
    animation: Rflower 6s linear infinite;
    transform-origin: center;
}

#paint0_linear {
    animation: backgrnd 6s linear infinite;
}
@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes bike {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(10deg);
    }
}

@keyframes Rflower {
    from{
        transform: translateX(0px) ;
    }
    to{
        transform: translateX(-100%);
        
    }
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
        
    }
}

