
html {
	background: linear-gradient(to right, rgb(0, 140, 255, 30%) , rgb(1, 102, 1, 80%), rgb(0, 140, 255)) no-repeat center center fixed;    
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;    
}
html,
body {
	height: 100%;
	margin: 0;
}

.container {
	border-top: dotted 10px white;
	border-bottom: dotted 10px white;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
margin: auto 1em;
text-align: center;
}

h2 {
	text-align: center;
	font-size: 40px;
	background: -webkit-linear-gradient(#eee, rgb(132, 91, 138));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 25%;
	margin-right: 25%;
}

img {
    height: 250px;
    border-top: dotted 10px white;
    border-bottom: dotted 10px white;
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
 	max-height: 90%;
 	margin: 20px auto;
}

.svg-bike {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    box-sizing: border-box;
    display: block;
    width: auto;
    height: auto;
}

#front-wheel, 
#back-wheel {
    animation: wheel 1.5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#person-bike {
    animation: bike .5s linear infinite alternate-reverse;
    transform-origin: bottom;
}

#right-flower,
#left-flower {
    animation: Rflower 6s linear infinite;
    transform-origin: center;
}

#paint0_linear {
    animation: backgrnd 6s linear infinite;
}

@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes bike {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(10deg);
    }
}

@keyframes Rflower {
    from{
        transform: translateX(0px) ;
    }
    to{
        transform: translateX(-100%);
    }
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}

